 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .header_top_block {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
     margin: 50px 0;
 }

 .header_top_block h1 {
     font-family: "Josefin Sans", sans-serif;
     font-size: 40px;
     font-weight: 400;
     color: #0088A2;
 }


 .menu {
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* justify-content: center; */
     background-color: rgb(128, 128, 128);


 }

 .menu li {
     width: 20%;
     display: flex;
     justify-content: center;
     list-style: none;

 }


 .menu__item {
     display: block;
     font-family: "Open Sans", sans-serif;
     color: rgb(255, 255, 255);
     font-weight: 400;
     font-size: 22px;
     text-decoration: none;
     padding: 15px 0;
     transition: 0.3s;
 }

 .menu__item:hover {
     background-color: #0088A2;

 }

 .question {
     margin: 50px auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 85%;
 }

 .question .card {
     flex: 0 1 30%;
     position: relative;
     transition: 0.3s;
 }

 .question .card img {
     width: 100%;
 }

 .question .text {
     color: white;
     font-size: 24px;
     font-weight: 600;
     font-family: "Open Sans", sans-serif;
     line-height: 33px;
     text-align: center;
     width: 85%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .question .card:hover {
     transform: scale(1.07);
 }


 .text__item {
     font-size: 72px;
     font-weight: 400;
     text-align: center;
     color: rgb(0, 136, 162);
     margin: 34px 0;
 }

 /* ----section2---- */

 .video__text {
     font-size: 70px;
     font-weight: 400;
     color: #0088A2;
     text-align: center;
     margin: 20px auto;
     font-family: "Open Sans", sans-serif;

 }

 .video__card {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     border-radius: 20px;
     position: relative;
 }

 .photo__video {
     width: 90%;
 }



 .play-button {
     width: 100px;
     height: 100px;
     background-color: black;
     position: absolute;
 }

 /* section - 3 */

 .colums {
     margin: 40px auto;
     padding: 50px 50px;
     display: flex;
     justify-content: center;
     flex-direction: row;
     width: 90%;
 }

 .cards__items {
     background-color: black;
 }

 .cards__items img {
     display: block;
     width: 100%
 }

 h2 {
     font-size: 72px;
     font-weight: 400;
     text-align: center;
     color: rgb(0, 136, 162);
     margin: 34px 0;
     font-family: "Open Sans", sans-serif;
 }

 .text_items {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;

 }

 .text_p {
     color: rgb(112, 112, 112);
     font-family: Roboto;
     font-size: 38px;
     font-weight: 400;
     line-height: 56px;
     justify-content: center;
     max-width: 700px;
 }

 .load_block {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .load_section .text_paragraph {
     color: rgb(112, 112, 112);
     font-family: Roboto;
     font-size: 36px;
     font-weight: 400;
     line-height: 42px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-top: 50px;
 }


 .footer {
     background-color: rgb(0, 136, 162);
     height: 719px;
 }

 .footer h2 {
     color: rgb(255, 255, 255);
     font-family: Josefin Sans;
     font-size: 96px;
     font-weight: 600;
     line-height: -1px;
     letter-spacing: 0%;
     text-align: center;
     padding-top: 100px;
 }

 .social {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 100px;
 }


 .burger_menu {
     display: none;
 }

 /* ------------------АДАПТИВ------------------- */


 @media screen and (max-width: 900px) {
     .header_top_block h1 {
         max-width: 250px;
     }

 }

 @media screen and (max-width: 600px) {
     .header_top_block {
         flex-direction: column;
     }

     .header_top_block img {
         width: 98px;
         height: 97px;
     }

     .header_top_block h1 {
         font-size: 18px;
     }
 }

 @media screen and (max-width: 820px) {
     .burger_menu {
         display: flex;
         position: relative;
         top: 16px;
         left: 21px;
     }

     nav {
         display: none;
     }



 }

 /* ------------------------- */

 @media screen and (max-width: 2200px) {
    .dot {
        display: none;
    }
 }

 @media screen and (max-width: 600px) {
     .question {
         flex-direction: column;
     }
     .dot {
        display: flex;
     }

 }

 @media screen and(max-width: 818px) {
    .colums {
        flex-direction: column;
    }
 }